.container-news{
    position: absolute;
    right: 10px;
    clear: both;
    top:253px;
    max-width: 16%;
    height: 650px;
}
.container-news .title{
    font-size: 2rem;
    color: #77B43D;
    text-align: center;
    border-bottom: 2px solid #77B43D;
}
.container-news .box-news {
    max-height: 630px;
    overflow-y: auto;
}
.container-news .box-news img {
    float: left;
    padding-right: 0px;
    width: 50px;
    height: 50px;
}
.container-news .box-news .news{
    display:table-row;
}
div p {
    color: black;
    font-size:1rem;
    word-wrap: break-word
}
div h3 {
    font-size:1.5rem;
    word-wrap: break-word
}
div
    ::-webkit-scrollbar {
        width: 10px;
    }
        
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    

    ::-webkit-scrollbar-thumb {
        background: #888; 
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }