.container-weather {
    background-color: #20567C;
    color: white;
    top: 253px;
    left: 10px;
    position: absolute;
    width: 15%
}
.container-weather .title{
    font-size: 2rem;
    text-align: center;
}

.weather-now{
    background-color: rgb(68, 135, 184);
}

.container-weather .location-info{
    text-align: center;
}

.row {
    border: none
}
.weather-info{
    text-align: right;
}