.container-weather {
    background-color: #20567C;
    color: white;
    top: 253px;
    left: 10px;
    position: absolute;
    text-align: center;
    width: 16%
}
.container-weather .title{
    font-size: 2rem;
    text-align: center;
}

.weather-now{
    background-color: rgb(68, 135, 184);
}

.weather-info{
    border-top: 2px solid white;
    position: relative;
    margin-right: auto;
    margin-left: auto;

}